body
{
background-color:#191970;
font-family:Verdana;
}

<style>
.main
{
	width:100%; 
	
}
h1
{
	text-align:center;
	margin-top:20px;
}

.ads
{ 
background-color:#00FA9A;
width:20%;
height:1350px;
border-radius:7px;
float:left;
}
.mid
{
width:60%;height:100%;
background-color:#4B0082;
color:white; 
border-radius:7px;
float:left;

}
h2
{
	text-align:center; 
}
.adsiki
{
	width:20%;height:1350px;
	background-color:#00FA9A;
	border-radius:7px;
	float:left;
	
}
.zdjecie
{
	background-color:black;
	width:18.5%; height:30%; margin-top:60px;
	color:white;
	font-size:20px;
	float:left;
}
.opis
{
	width:81.5%;height:30%; margin-top:60px;
	background-color:#FF8C00;
	float:left;
}
.tresc
{
	width:100%;height:1000px; margin-top:300px;
	background-color:#B8860B;	
	padding-left:75px; padding-top:25px;
	
}


</style>